<% extend('../layouts/dashboard-layout') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <label for="">請輸入標題</label>
    <input type="text" class="form-control" placeholder="標題">
    <hr>
    <textarea name="content" id="editor" class="form-control" rows="30"></textarea>
    <script>
			CKEDITOR.replace( 'content' );
		</script>
  </div>
  <div class="col-md-3">
    
    <div class="card mb-3">
      <h6 class="card-header">分類</h6>
      <div class="card-body">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <h6 class="card-header">標籤</h6>
      <div class="card-body">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> 標籤
          </label>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入標籤名稱" aria-label="輸入標籤名稱">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">新增標籤</button>
          </span>
        </div>
      </div>
    </div>

    <div class="btn-group w-100">
      <a href="#" class="btn btn-outline-secondary w-100">預覽</a>
      <a href="#" class="btn btn-outline-secondary w-100">儲存草稿</a>
      <a href="#" class="btn btn-outline-primary w-100">發佈</a>
    </div>
  </div>
</div>

