<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>六角部落格 | Bootstrap 4 繁體中文手冊</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .breadcrumb {
      background-color: transparent;
    }
    /* typography design */
    .text-primary {
      color: #00cc99 !important;
    }
    .post {
      line-height: 1.8;
    }
  </style>
</head>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00cc99;">
    <a class="navbar-brand" href="/">
      <i class="fa fa-diamond" aria-hidden="true"></i>
      六角部落格
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <% for (var prop in categories) { %>
          <a class="nav-item nav-link 
          <% if (categories[prop].id === categoryId) { %>
            <%- 'active' %>
          <% } %>
          " href="/archives/<%- categories[prop].id %>"><%- categories[prop].name %> <span class="sr-only">(current)</span></a>
        <% } %>
      </div>
    </div>
  </nav>
  <div class="container">
    <%- content %>
  </div>
  <footer class="bg-light text-muted py-5">
    <div class="container">
      <ul class="list-unstyled d-flex justify-content-between">
        <li class="">© Copright 2017 六角部落格</li>
        <li class="ml-auto"><a class="text-info mr-1" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a class="text-info mr-1" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="" class="text-info"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

</html>