<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>六角部落格 | Bootstrap 4 繁體中文手冊</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">  <!-- 少量的 CSS -->
  <!-- 圖片來源：http://www.gratisography.com/#objects -->
  <style>
    .breadcrumb {
      background-color: transparent;
    }
    /* typography design */
    .text-primary {
      color: #00cc99 !important;
    }
    .post {
      line-height: 1.8;
    }
  </style>
</head>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00cc99;">
    <a class="navbar-brand" href="#">
      <i class="fa fa-diamond" aria-hidden="true"></i>
      六角部落格
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#">Home</a>
        <a class="nav-item nav-link active" href="#">Blog <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%- content %>
  </div>
  <footer class="bg-light text-muted py-5">
    <div class="container">
      <ul class="list-unstyled d-flex justify-content-between">
        <li class="">© Copright 2017 六角部落格</li>
        <li class="ml-auto"><a class="text-info mr-1" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a class="text-info mr-1" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="" class="text-info"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </footer>
</html>