<% extend('./layouts/layout') %>

<div class="hex-blog">
  <nav class="breadcrumb pl-0">
    <a class="breadcrumb-item text-primary" href="#">Home</a>
    <a class="breadcrumb-item text-primary" href="#">部落格</a>
    <span class="breadcrumb-item active">Bootstrap</span>
  </nav>
  <h1 class="text-primary">Bootstrap 4 繁體中文手冊</h1>
  <div class="row">
    <div class="col-md-9">
      <!-- artical header -->
      <div class="d-flex flex-row text-secondary small">
        <div class="p-2"><i class="fa fa-user-o" aria-hidden="true"></i> 卡斯伯</div>
        <div class="p-2">2017/08/13</div>
        <div class="p-2"><i class="fa fa-tag" aria-hidden="true"></i> <a href="" class="text-info">event</a></div>
      </div>
      <article class="text-dark post mb-4">
        <p>Bootstrap 是目前最主流的 CSS 框架，由於他包含了大量的元件以及具有良好的架構，在實際運用及擴增也都是非常容易，也越來越多開發者協同一起開發 (Github 上有超過 10 萬個 Star)。如今第四版 Beta
          (Bootstrap 4 Beta) 也在 2017/8/10 釋出，我們先來看看他有什麼樣的改變吧！</p>
        <h2 class="text-secondary">Bootstrap 4 的特色</h2>
        <p>Bootstrap 4 Beta 經過了 Alpha 六個版本的歷練，重新翻修了大量元件以及加入許多新的元素，如果你沒有用過 Alpha 的任何版本，提供了以下摘要讓您快速了解第四版有什麼新新聞：</p>
        <ul>
          <li>從 Less 到 Sass: 自從 Sass 不在只能使用 Ruby 編譯後，Libsass 有更快的編譯效率，加上 Sass 本身具有龐大的開發社群，所以 Bootstrap 從 Less 改用 Sass 囉！</li>
          <li>Flexbox 以及強化的網格系統: 網格系統不在使用 <code>float</code>，進而改用 <code>flexbox</code>，讓行動裝置及桌面裝置有更彈性的排版方法。</li>
          <li>卡片元件: 許多元件本質相似度較高，如 <code>wells</code>、<code>thumbnails</code>、<code>panels</code> 等等，這些元件被捨棄掉，取而代之的則是卡片元件，不僅可以完成上述元件的功能，且運作的更為美好。</li>
          <li>彈性更高的變數: 以往的樣式都是固定的名稱、色彩，透過 Sass <code>$map</code> 變數可以更有彈性的調整、新增、減少不同的品牌色彩、陰影等視覺效果。</li>
          <li>IE8、IE9 掰掰: 放棄舊有的瀏覽器支持，讓元件的使用及開發上更為容易，如果還是考慮支援 IE8/IE9、 Safari 8-、 iOS 8- 可以繼續使用 Bootstrap 3。</li>
          <li>重新設計說明文件: 新的文件重新設計了，並且加入一些插件讓搜尋上更為容易！</li>
          <li>更多的改變: 重新設計更多更多的樣式，像是自由套色的導覽列、HTML5 的驗證樣式、嶄新的輪播以及許多的元件</li>
        </ul>
        <h2 class="text-secondary">繁體中文手冊</h2>
        <p>加入了這麼多新功能，如果從頭開始了解原文版本也需要花上不少時間，於是六角學院從兩個月前開始著手翻譯，在正式釋出 Beta 版後的兩個工作日釋出繁體中文手冊，讓對於 Bootstrap 有需求的同學可以加速上手～</p>
        <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/hexschool-api.appspot.com/o/blog%2F2017%2F08%2Fbootstrap4.png?alt=media&token=0b014ac6-b99b-46e7-8336-3fbfda1da3c2"
          alt="Bootstrap 4 繁體中文手冊">
        <p>如果你期待六角學院的 Bootstrap 相關課程，也可以透過以下連結或加入我們的<a href="" class="text-primary">LINE</a>，等待課程釋出的同時也會通知您喔！</p>

      </article>
      <!-- 留言 -->
      <div class="card mb-3">
        <h4 class="card-header small">留言回覆</h4>
        <!-- 圖片來自 https://randomuser.me/photos -->
        <div class="card-body">
          <ul class="list-unstyled">
            <li class="media">
              <img class="d-flex mr-3" src="https://randomuser.me/api/portraits/lego/1.jpg" alt="Generic placeholder image" style="width: 64px; height: 64px;">
              <div class="media-body">
                <h5 class="mt-0 mb-1 text-info">六角寶貝</h5>
                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="寫下寶貴的意見" style="resize: none;"></textarea>
                  <button class="btn btn-light mt-2 btn-block" type="submit">Submit form</button>
                  
                </div>
              </div>
            </li>
            <li class="media">
              <img class="d-flex mr-3" src="https://randomuser.me/api/portraits/women/48.jpg" alt="Generic placeholder image" style="width: 64px; height: 64px;">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Melinda Pena</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                congue felis in faucibus.
                <p class="small mt-1 text-secondary">about 6 hours ago</p>
              </div>
            </li>
            <li class="media my-4">
              <img class="d-flex mr-3" src="https://randomuser.me/api/portraits/men/19.jpg" alt="Generic placeholder image" style="width: 64px; height: 64px;">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Melissa Perry</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                congue felis in faucibus.
                <p class="small mt-1 text-secondary">about 22 hours ago</p>
              </div>
            </li>
            <li class="media">
              <img class="d-flex mr-3" src="https://randomuser.me/api/portraits/lego/0.jpg" alt="Generic placeholder image" style="width: 64px; height: 64px;">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Daryl West</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                congue felis in faucibus.
                <p class="small mt-1 text-secondary">about 2 days ago</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <h2 class="text-secondary">Tags</h2>
      <a href="#" class="badge badge-info"><i class="fa fa-tag" aria-hidden="true"></i> scss</a>
      <a href="#" class="badge badge-info"><i class="fa fa-tag" aria-hidden="true"></i> css</a>
      <a href="#" class="badge badge-info"><i class="fa fa-tag" aria-hidden="true"></i> html</a>
      <a href="#" class="badge badge-info"><i class="fa fa-tag" aria-hidden="true"></i> bootstrap4</a>
      <a href="#" class="badge badge-info"><i class="fa fa-tag" aria-hidden="true"></i> design</a>
    </div>
  </div>

</div>

